* {
    padding: 0;
    margin: 0;
}

.date-selector-locked {
    height: 100% !important;
    overflow: hidden !important;
}

.date-selector-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(75, 75, 75, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: -1;
}

.date-selector-bg-up {
    z-index: 999 !important;
    background: rgba(75, 75, 75, 0.65) !important;
}

.date-selector-container {
    width: 96%;
    height: 330px;
    position: absolute;
    margin-left: 12px;
    margin-bottom: 12px;
    border-radius: 15px;
    bottom: 0;
    transform: translate3d(0, 342px, 0);
    -webkit-transform: translate3d(0, 342px, 0);
    left: 0;
    background-color: #FFF;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    box-shadow: 0px 0px 8px #000;
    -webkit-box-shadow: 0px 0px 8px #000;
    z-index: -1;
}

.date-selector-container-up {
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
}

.date-selector-btn-box {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: rgba(29, 170, 252, 0.7);
    z-index: 10;
    font-size: 28px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.date-selector-btn-box .date-selector-btn {
    position: absolute;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    right: 0;
}

.date-selector-btn-box .date-selector-btn:nth-child(1) {
    left: 0;
    right: initial;
}

.date-selector-tab-box {
    display: inline-block;
    border-radius: 10px;
    margin: 9px 0;
    height: 32px;
    box-sizing: border-box;
    line-height: 30px;
    color: rgba(218, 218, 218, .7);
    background: #fff;
    border: 1px solid #fff;
}

.date-selector-tab-box .date-selector-tab {
    display: inline-block;
    padding: 0 10px;
    transition: all .3s ease;
}

.date-selector-tab-box .date-selector-tab:first-child {
    border-right: 1px solid #fff;
}

.date-selector-tab-box .date-selector-tab-active {
    color: #fff;
    border-radius: 10px;
    background: rgba(219, 219, 219, 1);
}

.date-selector-content-left {
    transform: translate3d(-100%, 0, 0) !important;
    -webkit-transform: translate3d(-100%, 0, 0) !important;
}

.date-selector-content-right {
    transform: translate3d(100%, 0, 0) !important;
    -webkit-transform: translate3d(100%, 0, 0) !important;
}

.date-selector-content {
    position: absolute;
    width: 100%;
    height: 250px;
    font-size: 0;
    top: 80px;
    z-index: 10;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}

.date-selector-content .date-selector {
    display: inline-block;
    height: 250px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.date-selector-content .date-selector-left {
    width: 33.33%;
}

.date-selector-content .date-selector-right {
    width: 50%;
}

.date-selector-content ul::-webkit-scrollbar {
    display: none;
}

.date-selector-content li {
    height: 50px;
    text-align: center;
    font-size: 23px;
    line-height: 50px;
    list-style: none;
}

.date-selector-content .date-selector-up-shadow, .date-selector-content .date-selector-down-shadow {
    width: 100%;
    height: 80px;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
    z-index: 50;
}

.date-selector-content .date-selector-up-shadow {
    top: 0;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
    z-index: 50;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.date-selector-content .date-selector-down-shadow {
    bottom: 0;
    z-index: 50;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.date-selector-content .date-selector-line {
    width: 85%;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 50%;
    pointer-events: none;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
}

/*# sourceMappingURL=dateController.css.map */
