.userInfoForm_modal{
   position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.wechat_userInfo{
    text-align: center;
    height: 30%;
    /*background: url("../images/wechat_bg.png")no-repeat center 0%;*/
    /*background-size: 720px;*/
}
.wechat_userInfo_inside{
    /* vertical-align: middle; */
    /* display: table-cell; */
    /*height: 90%;*/
    /*width: 80%;*/
    /*padding: 20px auto;*/
    text-align: -webkit-center;
    background: #fff;
    height:90%;
    margin: 0px 45px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #fff;
    -webkit-box-shadow: 0px 0px 8px #fff;
}
@font-face {
    font-family: titleFont;
    src: url("../fontstyle/zcool_happy.ttf");
}
.wechat_title{
    height: 10%;
    font-size: 35px;
    color: #fff;
    /* vertical-align: middle; */
    /* display: flex; */
    line-height: 270%;
    text-align: center;
    font-size: 42px;
    font-family: titleFont;

}
.wechat_userInfo .personal_link{
    position: absolute;
    margin-left: 478px;
    margin-top: 30px;
    padding: 4px 2px 2px 2px;
    background: #ffe603;
    width: 110px;
    /*height: 46px;*/
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-size: 30px;
}
.wechat_userInfo .profileGrade{
    display: inline-block;
    margin-top: 30px;
    width: 40%;
    border-right: 0.5px solid #cdcdcd;
    color: #a5a5a5;
    margin-right: -8px;
}
.wechat_userInfo .profileIntegral{
    display: inline-block;
    margin-top: 30px;
    padding: 5px 30px 5px 12px;
    /*width: 40%;*/
    /*border-left: 0.5px solid #cdcdcd;*/
    width: 112px;
    height: 40px;
    color: #009eff;
    background: #c0eaff url("../images/integral_arrow.png")no-repeat 92% center;
    background-size: 14px;
    border-radius: 115px;
    text-align: right;
}
.profileIntegral .integral_number{
    font-family: PingFangSC-Semibold, sans-serif;
}
.wechat_userInfo .wechatAvatar{
    display: inline-block;
    vertical-align: middle;
    /*height: 40%;*/
}
.wechat_userInfo .wechatAvatar_img{
    width: 150px;
    height: 150px;
    /*border-radius: 68.5px;*/
    /*border:1px solid #cdcdcd;*/
    /*margin-top: 53px;*/
    background: url("../images/wechatIMG.png")no-repeat center 100%;
    background-size: 150px;
    display: inline-block;
    vertical-align: middle;
}
.wechat_userInfo .userAvatar{
    /*background: red;*/
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: absolute;
    margin-left: -23px;
    margin-top: 44px;
}
.wechat_userInfo .wechatName{
    /* margin-top: 17px; */
    font-size: 28px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    -webkit-text-shadow: 0px 0px 10px #000;
    font-family: PingFangSC-Semibold, sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-left: 55px;
}
.wechat_userInfo_divideLine{
    width: 90%;
    border-bottom: 3px solid #3f4a9b;
    /* margin-top: 20px; */
    padding-top: 60px;
}
.wechat_userInfo .profilePrivilege{
    margin: 14px auto;
    width: 400px;
    height: 66px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    -webkit-text-shadow:0px 0px 10px #000;
}
.profilePrivilege .privilege_link{
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline: none;
    border: none;
    display: none;
    text-decoration: none;
    color: #f47754;
    text-shadow: 0px 0px 10px #fff;
    -webkit-text-shadow:0px 0px 10px #fff;
    line-height: 2.5em;
    font-family: PingFangSC-Semibold, sans-serif;
}
.show_userInfo{
    height: 60%;
}
.show_userInfo_inside{
    margin: 0px 45px;
    padding: 30px 30px 10px 30px;
    height: 80%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #fff;
    -webkit-box-shadow: 0px 0px 8px #fff;
}
.show_userInfo .show_title{
    text-indent: 12px;
    font-size: 20px;
}
.show_userInfo .show_edit{
    /*position: absolute;*/
    /*margin-left: 460px;*/
    /*margin-top: -35px;*/
    font-size: 24px;
    /*text-indent: 30px;*/
    color: #009eff;
    /*width: 80px;*/
    /*height: 25px;*/
    background: url("../images/edit.png")no-repeat 100% center;
    background-size: 25px;
    /*border:2px solid;*/
    /*border-radius: 8px;*/
    text-align: right;
    padding-right: 29px;
    /*padding: 10px 15px;*/
    /*margin: 12px 0px 18px 170px;*/

}
.show_userInfo .userInfo_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*.show_userInfo .userInfo_list li{*/
    /*padding-top: 14px;*/
    /*text-indent: 12px;*/
/*}*/
.userInfo_tag{
    width: 100px;
    color: #f47754;
    border: 2px solid;
    border-radius: 20px;
    padding: 0px 10px;
    margin-left: 6px;
    display: inline-block;
}
.show_userInfo td{
    padding: 15px 10px;
}
.show_userInfo .td_first{
    color: #a5a5a5;
    width: 110px;
}
.userInfoForm_modal .fill_userInfo{
    width: 520px;
    height: 630px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 60px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
}
.userInfoForm_modal .fill_title{
    font-size: 32px;
    letter-spacing: 6px;
    padding-top: 35px;
}
.userInfoForm_modal .fill_close{
    -webkit-appearance: none;
    border:none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgba(0,0,0,0.6) url("../images/close.png")no-repeat center;
    background-size: 50px;
    position: absolute;
    margin-left: 485px;
    margin-top: -100px;
}
.userInfoForm_modal .fill_content{
    padding: 43px 40px 20px 40px;

    /*height: 680px;*/
}
.userInfoForm_modal table{
    width: 100%;
}
.userInfoForm_modal tr{
    height: 104px;
}
.userInfoForm_modal td.fill_content_text{
    display: block;
    width: 310px;
    height: 70px;
    /* vertical-align: middle; */
    /*background: rgba(0,0,0,0.5);*/
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    margin-top: 10px;
}
.userInfoForm_modal td.fill_content_text span{
    position: absolute;
    margin-top: 20px;
    text-indent: 12px;
    color: #afafaf;
}
.userInfoForm_modal .fill_submit{
    -webkit-appearance: none;
    outline: none;
    border-style: none;
    font-size: 28px;
    letter-spacing: 5px;
    display: block;
    width: 300px;
    height: 80px;
    margin-left: 85px;
    margin-top: 40px;
    background: url("../images/submit.png")no-repeat center center;
    background-size: 290px;
    border-radius: 8px;
    color: #fff;
}
.userInfoForm_modal input#mather_name,input#mobile,input#address{
    -webkit-appearance: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 310px;
    height: 70px;
    /*background: green;*/
    font-size: 22px;
    text-indent: 12px;
    color: #afafaf;
}
input#date{
    -webkit-appearance: none;
    outline: none;
    border: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 310px;
    height: 70px;
    /*background: green;*/
    font-size: 22px;
    text-indent: 12px;
}
.userInfoForm_modal #date{
    position: absolute;
}
.wechat_userInfo .a_personal_link{
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.address_detail{
    background: #fff;
    width: 96%;
    height: 330px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 12px;
    margin-bottom: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #000;
    -webkit-box-shadow: 0px 0px 8px #000;
}
.address_detail .address_detail_cancel{
    float: left;
    margin-left: 20px;
    font-size: 28px;
    color: #fff;
}
.address_detail .address_detail_push{
    float: right;
    margin-right: 20px;
    font-size: 28px;
    color: #fff;
}
.address_detail ul{
    height: 80px;
    background: rgba(32, 48, 79, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.address_detail li{
    display: inline-block;
    line-height: 80px;
}
.address_detail table.ul_detail{
    width: 100%;
    height: 250px;
    padding: 30px;
}
.ul_detail td{
    padding:10px 15px;
}
textarea.text_detail{
    resize: none;
    -webkit-appearance: none;
    outline:none;
    width: 90%;
    height: 50px;
    border:none;
    border-bottom: 1px solid #000;
    font-size: 20px;
}
.address_detail_modal{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.success_img_modal{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background:rgba(0,0,0,0.5);
}
.success_img{
    position: absolute;
    /* height: 90%; */
    width: 90%;
    top: 50%;
    left: 50%;
    /* background: url(../images/success_img.png)no-repeat center center; */
    /* background-size: 595px; */
    border-radius: 15px;
    margin: -72% 0 0 -45%;

}